@charset "UFT-8";
body{
    background-color: rgba(236, 213, 181, 0.747);
}
h1{
    background-image: linear-gradient(to right, #b1f347, #b1f3479d, #b1f3473f);
    font-weight: 900;
    font-style: italic;
}
header
{
    background-color: rgb(127, 205, 250);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 40px;
    margin: -20px;
    border-radius: 15px;
    box-shadow: 2px 3px 6px #b1f3473f;
    text-align: justify;
    text-indent: 30px;
}
main{
    background-color: white;
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 40px;
    margin: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 3px 6px #b1f3473f;
    text-align: justify;
    text-indent: 30px;
}
footer
{
    background-color: rgb(127, 205, 250);
    font-size: 20px;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: normal;
    padding: 40px;
    margin: 20px;
    border-radius: 0px 0px 15px 15px;
    box-shadow: 2px 3px 6px #b1f3473f;
    text-align: justify;
    text-indent: 30px;
}
div
{
    background-image: linear-gradient(to top, rgba(255, 255, 255, 0.164), rgba(127, 205, 250, 0.395), rgba(127, 205, 250, 0.705), rgb(127, 205, 250),rgba(255, 255, 255, 0.635), white);
    padding: 13px;
    margin: -20px;
    width: auto;

}
