@charset "UFT-8";
body{
    background-image: linear-gradient(to left, #77CBB9, #75B8C8);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.corpo{
    background-image: linear-gradient(to right, #a7a7a7, #73737384);
    border-radius: 30px;
    border: 10px;
    margin: auto;
    box-shadow: 10px 15px 20px #506C64;
    padding: 60px;
    width: 1050px;
    text-align: justify;
}
.cabecario{
    background-image: linear-gradient(to right, #a7a7a7, #73737384);
    box-shadow: 10px 15px 20px #506C64;
    border-radius: 30px;
    border: 10px;
    margin:1px auto 7px auto;
    width: 1050px;
    padding: 20px;
    text-align: center;
}
.perna{
    background-image: linear-gradient(to right, #a7a7a7, #73737384);
    box-shadow: 10px 15px 20px #506C64;
    border-radius: 30px;
    border: 10px;
    margin:7px auto 1px auto;
    width: 1050px;
    padding: 20px;
}
h2 {
    text-align: left;
    color: #220C10;
}
.inteiro
{
    background-image: linear-gradient(to left, #93E5AB, #B5FFE1);
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
}
.corpo01{
    background-image: linear-gradient(to right, #D3D4D9, #FFF9FB);
    border-radius: 30px;
    border: 10px;
    margin: auto;
    box-shadow: 10px 15px 20px #506C64;
    padding: 60px;
    width: 1050px;
    text-align: justify;
}
.cabecario01{
    background-image: linear-gradient(to right, #D3D4D9, #FFF9FB);
    box-shadow: 10px 15px 20px #506C64;
    border-radius: 30px;
    border: 10px;
    margin:1px auto 7px auto;
    width: 1050px;
    padding: 20px;
    text-align: center;
}
.perna01{
    background-image: linear-gradient(to right, #D3D4D9, #FFF9FB);
    box-shadow: 10px 15px 20px #506C64;
    border-radius: 30px;
    border: 10px;
    margin:7px auto 1px auto;
    width: 1050px;
    padding: 20px;
}
a{
    color:#BB0A21;
    text-decoration: none;
}
a:hover
{
    color:#4B88A2;
    text-decoration: underline;
}
