@charset "UTF-8";
*{
    padding: 0;
}
body
{
    background-attachment: fixed;
    background-image: linear-gradient(to left, #8c728484, #b6bace);
}
main
{
    text-align: left;
    text-align: justify;
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 5px 9px 14px #8C7284;
    width: 1350px;
    padding: 40px;
    margin: auto;  
    font-family: Arial, Helvetica, sans-serif;
    font-size: 18px;
}
h1
{
    text-align: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 35px;
}
mark
{
    background-color: #D1B1C8;
    color: #000000;
}
p#primeiro
{
    text-indent: 30px;
}
hr
{
    width: 400px;
    padding: 2px;
}
p
{
    text-indent: 30px;
}
h2
{
    padding: 30px;
    text-align: center;
}
li
{
    background-image: linear-gradient(to left, #7A6174, #B1B7D1);
    width: 340px;
    text-align: center;
}
li#inicial
{
    background-image: none;
    text-align: left;
    color: #7A6174;
}
li.parail
{
    background-image: none;
    text-align: left;
    color: #7A6174;
    font-weight: 900;
}
li#parail1
{
    background-image: none;
    text-align: left;
    color: #7A6174;
    font-weight: 900;
}
li#parail2
{
    background-image: none;
    text-align: left;
    color: #7A6174;
    font-weight: 900;
}
h1#principal{
   color: #CD5334;
   text-align: center;
}
h1#h1html
{
    background-image: linear-gradient(to right, #CD5334, #EDB88B) ;
    color: #2E282A;
   text-align: left;
   width: 310px;
}
h2#h2html
{
    background-image: linear-gradient(to right, #17BEBB, #EDB88B) ;
    color: #2E282A;
   text-align: left;
   width: 180px;
   padding: 5px;
}
p#phtml
{
    font-size: 12px;
    font-family: 'Times New Roman', Times, serif;
    color: #2E282A;

}
p#p2html
{
    font-size: 18px;
    font-family: 'Times New Roman', Times, serif;
    color: #2E282A;

}
h2#h3html
{
    
    background-image: linear-gradient(to right, #17BEBB, #EDB88B) ;
    color: #2E282A;
    text-align: left;
    width: 260px;
    padding: 5px;
}
h2#h4html
{
    
    background-image: linear-gradient(to right, #17BEBB, #EDB88B) ;
    color: #2E282A;
    text-align: left;
    width: 220px;
    padding: 5px;
}
h1.principal
{
    background-image: linear-gradient(to right, #CD5334, #EDB88B) ;
    color: #2E282A;
   text-align: left;
   width: 310px;
}
.h2
{
    background-image: linear-gradient(to right, #17BEBB, #FAD8D6) ;
    color: #2E282A;
    text-align: left;
    width: 300px;
    padding: 5px;
}
a{
    color: #ff0000;
    background-color: #000000;
}
.a:hover{
    color: #EDB88B;
}