@charset "UTF-8";

body{
    background-image:linear-gradient(to right, #F5D7E3, #F4A5AE);
    font-family: Arial, Helvetica, sans-serif;
}
main{
    background-color: #ffffff;
    border-radius: 20px;
    box-shadow: 15px 20px 30px #1D1128;
    width: 1050px;
    padding: 10px;
    margin:auto;
}
h1{
   color: #3B429F;
   text-align: center;
}
h3{
    font-family: 'Times New Roman', Times, serif;
}
p{
    text-align: justify;
    text-align:left;
    text-align: indent;
}