@charset "UFT-8";
body{
    font-family: Arial, Helvetica, sans-serif;
}
.tab{
    background-color: rgba(128, 128, 128, 0.671);
    padding: 10px;
}
table
{
    position: relative;
}
#ts1 th
{
    border: 2px solid black;
    width: 30px;
    height: 30px;
}
#ts11 td
{
    border: 2px solid black;
    vertical-align: top; /*bottom, middle*/
    padding: 10px;
    width: 30px;
    height: 30px;
}
#ts111 td
{
    border: 2px solid black;
    text-align: center; /*left, right*/
    padding: 10px;
    width: 30px;
    height: 30px;
}
table#ts2, #tc1{
    border-collapse: collapse;
}
#ts2 th,td
{
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
}
#tc1 th,td
{
    border-collapse: collapse;
    border: 2px solid black;
    padding: 10px;
    width: 200px;
}
tbody#tz1 > tr:nth-child(2n-1)
{
    background-color:  rgba(128, 128, 128, 0.671);;
}
tbody#tz1 > tr:nth-child(2n)
{
    background-color:  rgba(255, 0, 0, 0.578);
}
}
.gray{
    background-color:  rgba(128, 128, 128, 0.671);
}
.red
{
    background-color: rgba(255, 0, 0, 0.578);
}
.yellow
{
    background-color: rgba(255, 255, 0, 0.614);
}
.green
{
    background-color: rgba(0, 128, 0, 0.61);
}
thead > tr > th 
{
    position: sticky;
    top: 0;
    background-color:  rgba(0, 68, 255, 0.587);;
    color: white;
}
div#contenair {
    overflow-x: auto;
}